[submodule "docs shared themes"]
	path = EMDocs/_themes
	url = https://github.com/JialinXin/DocsThemes
	branch = master
[submodule "ThemeEMSolutions"]
	path = EMDocs/Solutions/_themes
	url = https://github.com/Microsoft/templates.docs.msft
	branch = master
